.little-lemon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #edefee;
  min-height: 640px;
}

.content {
  display: flex;
  max-width: 1440px;
  align-items: center;
  gap: 40px;
}

.images {
  position: relative;
  width: 400px;
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.bottom-image {
  width: 304px;
  height: 395px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  object-fit: cover;
  right: 55%;
  z-index: 2;
  top: 20%;
}

.top-image {
  width: 304px;
  height: 395px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  z-index: 1;
}

.text {
  max-width: 600px;
  text-align: right;
}

.text h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: "Markazi", serif;
  margin-bottom: 5px;
}

.text h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: "Markazi", serif;
  margin-top: 0;
}

.text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: "Karla", serif;
}
@media (max-width: 900px) {
  .content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .images {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .images img {
    left: 0;
  }
  .bottom-image,
  .top-image {
    width: 200px;
    height: 260px;
  }

  .bottom-image {
    bottom: 10px;
  }

  .top-image {
    top: 10px;
  }

  .text {
    max-width: 50%;
    right: 0;
  }

  .text h1 {
    font-size: 48px;
  }

  .text h2 {
    font-size: 32px;
  }

  .text p {
    font-size: 14px;
  }
}
